--name
mlp-6144
--model
mlp-6144
--version
0
--gpuid
0
--use_embeddings
True
--batch_size
64
--accumulate_grad_batches
2
--val_check_interval
0.25
--learning_rate
0.0003
--dropout
0.3
--weighted_cross_entropy
True
--mixup
True
--mixup_alpha
0.2
--path_to_data
/home/hugo/CHONK/data/mdb-hop-0.25-chunk-1-AUGMENTED-EMBEDDINGS-6144/splits/
--random_seed
20
--verbose
True